body {
	text-align: center;
	background: #f0d361;
	font-size: 18px;
}

#starter {
	margin: 0 auto;
	max-width: 66%;
	background: #fff;
	padding: 10px;
}

.top {
	padding: 5px;
	text-align: right;
	margin: 0 25%;
}

label {
	padding: 0 7px;
}

.input-box {
	padding: 10px;
	width: 300px;
}

.mid {
	padding: 20px 0;
	text-align: left;
}

#dropdown {
	height: 40px;
	width: 295px;
}

ul {
	list-style: none;
	padding: 0;
}

.mid1,
.mid2 {
	display: inline-block;
  width: 48%;
	text-align: left;
  vertical-align: top;
  padding: 5px;
  margin: 15px 0 0 0;
}

.radio,
.checkbox,
.comment {
	display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
	position: relative;
  left: -10px;
}

#submit {
	background-color: #217d96;
	padding: 10px 40px;
	margin: 10px 0;
	border-radius: 5px;
	color: #fff;
}

#submit:hover{
	background: #f0d361;
}

footer {
	padding: 10px;
}

a:hover {
	color: #217d96;
}

/*media quires*/
@media (min-width: 300px) and (max-width: 550px) {
	#starter {
		max-width: 90%;
	}
	.top {
		margin: 0;
		text-align: left;
	}
	.input-box {
		width: 250px;
	}
	label {
		padding: 0;
	}
	#dropdown {
		width: 240px;
	}
	.mid1 {
		width: 43.5%;
		margin: 10px 0 0 0;
	}
	.radio, .checkbox {
		width: 43.5%;
		left: 15px;
	}
	.mid2, .comment {
		width: 100%;
	}
	.comment {
		left: 0;
	}
}

@media (min-width: 551px) and (max-width: 1023px) {
	#starter {
		max-width: 80%;
	}
	.top {
		margin: 0 10%;
	}
	.input-box, #dropdown {
		width: 250px;
	}
	#dropdown {
		width: 140px;
	}
	.mid1 {
		margin: 10px 4.5px 0 0;
	}
	.radio {
		left: -10px;
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.top{
		margin: 0;
	}
	.mid {
		margin: 0 0 0 1%;
	}
	.mid1 {
		margin: 10px 4.5px 0 0;
	}
	.radio {
		left: -10px;
	}
}

@media (min-width: 1090px) {
	.mid {
		text-align: right;
		margin: 0 25.5% 0 0;
	}
}
